@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

/* custom scroll bar */



.subtitle{
    text-decoration: none;
    color: #081c34 ;
    font-size: 2rem;
    text-shadow: hsla(0, 0%, 46%, 0.089) 0.1em 0.1em 0.2em;
}


.portada{
    background-image: url(../img/img_04.jpg);
    height: 450px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 20%;
}


.about1{
    height: 120px;
    position: relative;
    text-align: center;
    background: rgb(0, 0, 10);
    font-size:25px;
    margin: 0 auto;
    padding: 45px 0;
    color: #fff;
    box-shadow: 0px 12px 10px -6px hsla(0, 0%, 9%, 0.349);
}


.titulo{
    text-align: center;
    color: rgb(73, 73, 73);
    height: 150px;
    text-shadow: hsla(0, 0%, 46%, 0.13) 0.1em 0.1em 0.2em;

}

section {
    display: flex;
    overflow: hidden;
}
  
.room-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background: rgb(0,8,20);
background: linear-gradient(0deg, rgba(0,8,20,1) 0%, rgba(0,8,20,1) 60%, rgba(0,13,29,1) 60%, rgba(0,13,29,1) 100%);
}

  
.gallery-hightlight {
    width: 80%;
    height: 500px;
}
  
.room-preview {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    border: 2px solid hsla(0, 4%, 10%, 0.664);
    overflow:auto;
    box-shadow: 0px 15px 10px -6px hsla(0, 0%, 4%, 0.466);
}

.room-preview img {
    flex-grow: 1;
    height: 100px;
    width: 80px;
    opacity: 0.5;
    transition: opacity 0.4s ease;
    cursor: pointer;
}

img.room-active {
    opacity: 1;
}

 
/*footer*/
.footer{
    background: #000;
    padding: 80px 0;
  
}
  
.footer__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}
  
.footer__title{
    font-weight: 400;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
}
  
.footer__icons{
    display: flex;
    justify-content: space-evenly;
}
  
.footer__container-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
}
  
.footer__icon{
    color: inherit;
    font-size: 30px;
    text-decoration: none;
}
  
.fab.footer__icon{
    line-height: 60px;
}
  
  
.final{
    background: #000;
    font-size: 0.9rem;
    color: #fff;
}
  
    
    


@media screen and (max-width: 768px){

    :root{
        --boton-padding: 18px 40px;
    }

    body.disabled{
        overflow: hidden;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
        left: 0%;
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
        margin-left: 0px;
    }

    .room-preview img {
        height: 70px;
        width: 70px;
    }

    /*foot*/

    .footer__grid{
        grid-template-columns: 1fr;
    }

    .footer__contac{
        grid-row: 1/2;
    }


}


@media screen and (max-width: 480px) {
    :root{
        --boton-padding: 18px 35px;
    }


    .logo{
        align-items: center;
        max-width: 100%;
    }

    .nav{
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;

    }

    .nav__items{
        padding: 0 10px;
        border: 0;
    }

    .portada{
        height: 300px;
        /*background-size:auto;*/
    }


    .textos-hero{
        height: 18vh;
    }
    .hero{
        height: 60px;
    }

    .subtitle{
        font-size: 1.4rem;
        margin: 0;
    }

    h2{
        font-size: 25px;
        padding: 30px 0;
    }


    h3{
        font-size:30px;
    }

    .titulo{
        height: 90px;
    }   

    section {
        background-position: 80%;
    }    

    .about1{
        font-size: 1.2rem;
        height: 70px;
        padding: 25px 0;
    }

    .gallery-hightlight {
        height: 300px;
    }

    .final{
        text-align: center;
        font-size: 0.8rem;
    }
    
}

@media screen and (max-width: 320px) {

    .navbar .logo a{
        font-size: 27px;
    }

    .content{
        padding: 0 20px;
    }

    .textos-hero{
        height: 15vh;
    }

    .hero{
        height: 40px;
    }
    
    .subtitle{
        font-size: 1rem;
        padding-left: 10px;
    }

    h2{
        font-size: 15px;
        padding: 20px 0;
    }

    .portada{
        background-image: url(../img/img_04_small.jpg);        
        background-position: 10%;
        background-size: 400px 600px;
        height: 200px;
    }

    .about1{
        font-size: 0.7rem;
        height: 40px;
        padding: 15px 0;
    }

    .titulo{
        height: 50px;
    }   


    .gallery-hightlight {
        height: 200px;
    }

    .room-preview img {
        height: 40px;
        width: 40px;
    }

    .footer{
        padding: 60px 0;
    }

    .footer__title{
        font-size: 1.1rem;
    }

    .footer__container-icons{
        width: 50px;
        height: 50px;
    }   
    
    .fab.footer__icon{
        line-height: 50px;
    }    


}
